.podcast-directory-wrapper {
	width: 95%;
	margin: 0 auto;
	padding: 60px 0;
}

.podcasts {
	list-style: none;
}

.podcasts li {
	width: 33%;
	/*float: left;*/
	border-bottom: 1px solid #e0c543;
	margin-bottom: 20px;
	display: inline-block;
}

.podcasts li hr {
	
}

.podcasts li .img {
	width: 20%;
	float: left;
	width: 30px;
}

.podcasts li .img img {
	margin-top: 20px;
}

.podcasts li .content {
    width: 67%;
    float: left;
    padding: 0 0 0 20px;
}

.podcasts.edit-list li .content {
	width: 74%;
}	

.podcasts.edit-list li {
	border-bottom: 2px solid #e0c543;
}	

.podcasts li .rate {
	width: 25%;
    float: right;
}

.podcasts li .rate .rating {
	margin-top: -8px;
	text-align: center;
}	

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.podcasts li .rate .text {
	font-size: 14px;
	color: #0b539d;
	margin-top: -10px;
    text-align: center;
}	

.podcasts li .rate p {
	margin: 0;
}	

.podcasts li .content .title {
	font-size: 18px;
	margin: 0;
	line-height: 22px;
    margin-bottom: 10px;
	cursor: pointer;
	color: #fff;
}

.podcasts li .content .popup-content {
	color: #fff;
}

.podcasts li .content .tags {
	font-size: 14px;
	overflow: hidden;
	margin: 0;
	line-height: 17px;
    margin-bottom: 10px;
}

.podcast-single-popup {
	
}

.podcast-single-popup .top .left {
	float: left;
	width: 30%;
}

.podcast-single-popup .top .left img {
	
}

.podcast-single-popup .top .right {
    float: right;
    width: 60%;
    text-align: center;
    padding-right: 50px;
}

.podcast-single-popup .top .right .title {
	font-weight: bold;
    font-size: 35px;
    padding: 0;
    margin: 0;
	line-height: 40px;
    margin-bottom: 15px;
}

.podcast-single-popup .top hr {
	background-color: #e3c15a;
	margin: 0;
}

.podcast-single-popup .top .rating-block {
	margin: 0;
	display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.podcast-single-popup .top .rating-block .left {
	width: 33%;
}	

.podcast-single-popup .top .rating-block .center {
	width: 33%;
}	

.podcast-single-popup .top .rating-block .right {
	width: 33%;
}	

.submit-review-link {
	color: #5d94bd !important;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: -20px;

}

hr.popup-middle {
    background-color: #e3c15a;
    margin: 0;
    height: 3px;
    margin-top: 20px;
}

.popup-content {
	display: flex;
    justify-content: space-between;
	font-size: 15px;
    padding: 20px 10px 20px 10px;
}

.popup-content .text {
	width: 65%;
	margin-bottom: 45px;
}

.popup-content .stats {
	width: 25%;
}

.popup-content .stats .block {
	margin-bottom: 15px;
	text-align: center;
}

.popup-content .stats .yellow {
	color: #e3c15a;
	margin: 0;
}

.popup-content .stats .value {
	margin: 0;
}

.mfp-close-btn-in .mfp-close {
	background-color: #fff;
    color: #000;
    font-weight: 100;
    font-size: 40px;
    margin: 0;
    padding: 0;
    /* width: 30px; */
    /* height: 30px; */
    width: 30px;
    height: 30px;
    line-height: 22px;
    opacity: unset;
    font-weight: 400;
    border-radius: 3px;
    margin: 15px;
}

.buttons-block {
	display: inline-block;
}

.podcasts {
	padding: 0;
}


.popup-bottom {
	margin-top: 30px;
    position: absolute;
    bottom: 10px;
    width: 96%;
}

.popup-bottom .title {
	font-size: 16px;
	text-transform: uppercase;
	margin: 0;
}

.popup-bottom .block {
	margin-right: 20px;
}

.popup-bottom .links {
	font-size: 16px;
}

.popup-bottom .text {
	color: #e3c15a;
}

.popup-bottom i {
	margin-right: 5px;
}

.popup-bottom .left {
	float: left;
	width: 50%;
	text-align: left;
}

.popup-bottom .right {
	float: right;
	width: 50%;
	text-align: right;
}

.podcast-tag {
	text-transform: uppercase;
    font-size: 11px;
    border-radius: 11px;
    padding: 1px 5px;
    margin-right: 3px;
	float: left;
    display: block;
	margin-bottom: 5px;
}

.podcast-tag.humor {
	background-color: #ec57fe;
	color: #000;
}

.podcast-tag.casual {
	background-color: #57d9fe;
	color: #000;
}

.podcast-tag.esports {
	background-color: #82fe57;
	color: #000;
}

.podcast-tag.endgame {
	background-color: #961a1a;
	color: #fff;
}

.tags .yellow {
    color: #e3c15a;
    font-size: 11px;
    text-transform: uppercase;
    margin-right: 5px;
}

.podcast-directory-wrapper {
	/*width: 100%;
    margin: 0 auto;
    padding: 0;
    max-width: 100%!important;*/
}	

.podcast-directory-wrapper .filter {
	margin-bottom: 50px;
}

.podcast-directory-wrapper .filter input[type="checkbox"] {
	width: 17px;
    height: 17px;
}

.podcast-directory-wrapper .filter select {
    font-size: 15px;
    margin-right: 30px;
    font-family: Poppins;
}

.explicit-title {
	float: left;
	display: block;
}

.explicit-checkbox {
	margin-top: 4px;
    margin-left: 10px;
}

.podcast-directory-wrapper .filter .block-left {
	float: left;
	width: 33%;
	border-right: 2px solid #e0c543;
	padding-right: 15px;
}

.podcast-directory-wrapper .filter .block-right {
    float: left;
    width: 33%;
    padding-left: 15px;
}

.podcast-directory-wrapper .filter .block-player {
    float: left;
    width: 33%;
    padding-left: 15px;
	padding-top: 20px;
}

.podcast-directory-wrapper .filter .title {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
	margin-top: -15px;
}	

.podcast-directory-wrapper .filter .note {
    font-size: 13px;
    line-height: 15px;
	margin: 0;
	margin-top: 15px;
}	

.filter-right-title {
	margin-top: -10px;
    margin-bottom: -7px;
}

.yellow {
	color: #e0c543;
}

.blue {
	color: #00a2ff;
}

.filter-tags {
	list-style: none;
	padding-left: 0;
}

.filter-tags li {
	float: left;
	width: 25%;
}

.filter-tags li input[type="checkbox"] {
	float: left;
}	

.filter-tags li label {
	font-size: 14px!important;
	display: block;
    margin-top: -3px;
    margin-left: 25px;
}	

.list-reviews {
	
}

.list-reviews ul {
	list-style: none;
	padding-left: 0;
}

.list-reviews ul li {
	border-bottom: 2px solid #e0c543; 
	margin-bottom: 20px;
	width: 70%;
	padding-bottom: 10px;
}

.list-reviews ul li.response {
	margin-left: 70px;
}

.list-reviews ul .title {
	font-size: 14px;
}
	
.list-reviews ul .date {
	font-size: 12px;
	margin: 0;
}	
	
.list-reviews ul .content {
	font-style: italic;
	margin: 0;
}	
	
.list-reviews ul .rating1 {
	margin: 0;
	font-size: 12px;
}	

#popup-leave-review {
	
}

#popup-leave-review .block {
	margin-bottom: 20px;
}

#popup-leave-review form {
	
}

#popup-leave-review p {
	margin: 0;
}

#popup-leave-review input[type="text"] {
	
}

#popup-leave-review textarea {
	height: 250px !important;
}

#popup-leave-review input[type="submit"] {
	padding: 7px 30px;
    font-size: 18px;
}

#popup-leave-review .select-stars {
	width: 120px;
}

#popup-edit-review .select-stars {
    width: 120px;
}

#popup-edit-review .block {
    margin-bottom: 20px;
}

#popup-edit-review input[type="submit"] {
    padding: 7px 30px;
    font-size: 18px;
}




#popup-edit-podcast {
	/*height: 670px;*/
}

#popup-edit-podcast .block {
    margin-bottom: 20px;
    float: left;
    width: 50%;
    padding-right: 20px;
    height: 60px;
}

#popup-edit-podcast .block.tags {
	width: 100%;
	height: auto;
}	

#popup-edit-podcast form {
	
}

#popup-edit-podcast p {
	margin: 0;
}

#popup-edit-podcast input[type="text"] {
	padding: 3px 10px;
    width: 100%;
}

#popup-edit-podcast input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-top: 6px;
}

#popup-edit-podcast .filter-tags li label {
    margin-top: 4px;
    margin-left: 33px;
}

#popup-edit-podcast textarea {
	
}

#popup-edit-podcast input[type="submit"] {
	padding: 7px 30px;
    font-size: 18px;
}

#popup-edit-podcast input[type="submit"] {
    padding: 7px 30px;
    font-size: 18px;
}





div.stars {
  width: 270px;
  display: inline-block;
}

input.star { display: none; }

label.star {
	float: right;
	padding: 3px;
	font-size: 16px!important;
	color: #444;
	transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

.to-my-shows {
	font-size: 22px;
	margin-bottom: 30px;
	margin-top: 30px;
	display: block;
}


.white-popup {
	position: relative;
	background: #001540;
	padding: 20px;
	width: auto;
	max-width: 900px;
	margin: 20px auto;
	height: auto;
    min-height: 600px;
	
	border: 2px solid #e3c15a;
}

.btnpd {
	background-color: #0b539d!important;
	border: none;
	border-radius: 6px;
	font-family: 'Poppins';
	color: #FFFFFF;
	padding: 12px 16px;
	font-size: 12px;
	cursor: pointer;
}

ul .btnpd {
	/*padding: 4px 15px;*/
    margin-bottom: 10px;
}

/* Darker background on mouse-over */
.btnpd:hover {
	background-color: #e0c543;
	color: #000000;
}

input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

/* ---------- SWITCH ---------- */

.container {
	/*height: 64px;
	left: 50%;
	margin: -32px 0 0 -80px;
	position: absolute;
	top: 50%;
	width: 160px;*/
	
    margin-left: 50px;
    position: relative;
    display: block;
    float: left;
    margin: 3px 30px 10px 61px;
}

.switch {
	background: #fff;
    border-radius: 32px;
    display: block;
    height: 20px;
    position: relative;
    width: 47px;
}

.switch label {
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	line-height: 16px;
	text-transform: uppercase;
	-webkit-transition: color .2s ease;
	-moz-transition: color .2s ease;
	-ms-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease;
	width: 50px;
}

.switch label:nth-of-type(1) {
    left: -120%;
    position: absolute;
    text-align: right;
	top: 3px;
}

.switch label:nth-of-type(2) {
	position: absolute;
	right: -120%;
	text-align: left;
	top: 3px;
}

.switch input {
    height: 16px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 40px;
    z-index: 2;
}

.switch input:checked~label:nth-of-type(1) { color: #fff; }
.switch input:checked~label:nth-of-type(2) { color: #808080; }

.switch input~:checked~label:nth-of-type(1) { color: #808080; }
.switch input~:checked~label:nth-of-type(2) { color: #fff; }

.switch input:checked~.toggle {
	left: 4px;
}

.switch input~:checked~.toggle {
	left: 29px;
}

.switch input:checked {
	z-index: 0;
}

.toggle {
	background: #4a4a4a;
    border-radius: 50%;
    height: 14px;
    left: 0;
    position: absolute;
    top: 3px;
    -webkit-transition: left .2s ease;
    -moz-transition: left .2s ease;
    -ms-transition: left .2s ease;
    -o-transition: left .2s ease;
    transition: left .2s ease;
    width: 14px;
    z-index: 1;
}

.notice.red {
	color: red;
}

.notice-stars.red {
	color: red;
}

.podcasts.edit-list li .img  {
	width: 105px;
}

.podcasts.edit-lis .btnpd {
	
}

.block-player {
	border-left: 2px solid #e0c543;
}

.block-player p {
	margin: 0;
}

.block-player .left-text {
	text-align: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    margin-top: 10px;
}

.block-player .right-text {
	text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}

.block-player .left {
	float: left;
	width: 30%;
}

.block-player .right {
	float: left;
	width: 70%;
}

.podcasts.edit-list li {
	width: 55%!important;
}

.audio-player audio {
	height: 36px;
}

.audio-title {
	font-weight: bold;
    font-size: 17px;
    margin-bottom: -10px;
    text-transform: uppercase;
}


@media (max-width: 767px) {
	
	.popup-bottom {
		position: relative;
	}
	
	.podcasts li {
		width: 100%!important;
	}
	
	.podcast-directory-wrapper .filter .block-left {
		width: 100%;
	}
	
	.podcast-directory-wrapper .filter .block-right {
		width: 100%;
		padding: 0;
		margin-top: 50px;
	}
	
	.podcast-directory-wrapper .filter select {
		width: 100%;
	}
	
	.popup-bottom .left {
		width: 100%;
	}
	
	.popup-bottom .right {
		width: 100%;
		margin-bottom: 0px;
		text-align: left;
		margin-top: 20px;
	}
	
	.popup-content {
		display: block!important;
	}
	
	.popup-content .text {
		width: 100%!important;
	}
	
	.popup-content .stats {
		width: 100%;
	}
	
	.podcast-directory-wrapper .filter .block-player {
		width: 100%;
	}
	
	.podcast-single-popup .top .left {
		width: 100%;
	}
	
	.podcast-single-popup .top .right {
		width: 100%;
		padding: 0;
	}
	
	.podcast-directory-wrapper .filter .title {
		font-size: 22px;
	}
	
	.filter-tags li {
		width: 33%;
	}
	
	.block-player {
		display: none;
	}
	
	.podcasts li .content {
		width: 90%;
	}
	
}





